/* On smaller screens, decrease size */
@media only screen and (max-width: 1320px) {
    p, h1, h2, h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1300px) {
    .socHr {
        margin-left: 80px;
        margin-right: 80px;
    }

    iframe {
        max-width: 100%;
        width: 220px;
        height: 115px;
    }
}

@media only screen and (max-width: 1190px) {
    .socHr {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    p, h1, h2, h3 {
        font-size: 14px;
    }

    .socHr {
        margin-left: 30px;
        margin-right: 30px;
    }

    iframe {
        max-width: 100%;
        width: 200px;
        height: 95px;
    }
}

@media only screen and (max-width: 900px) {
    p, h1, h2, h3 {
      font-size: 13px
    }

    .socHr {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 850px) {
    .socHr {
        margin-left: 80px;
        margin-right: 80px;
    }

    img {
        width: 60%;
    }
}

@media only screen and (max-width: 420px) {
    p, h1, h2, h3 {
      font-size: 9px
    }
    
    .description {
        font-size: 10px;
    }
    
    .ytMarg {
        margin-left: 0px; 
        margin-right: 0px;
    }
    
    .socMarg {
        margin-left: 0px; 
        margin-right: 0px;
    }
}

@media only screen and (max-width: 360px) {
    iframe {
        max-width: 100%;
        width: 135.5px;
        height: 79.25px;
    }
}

@media only screen and (max-width: 300px) {
    iframe {
        max-width: 100%;
        width: 105.5px;
        height: 59.25px;
    }

    .socials button {
        color: white;
        font-size: 9px;
        border-radius: 8px;
        padding: 5px 5px;
    }
}