/* On smaller screens, decrease size */
@media only screen and (min-width: 1320px) {
    .socHr {
        width: 80%;
    }
}

@media only screen and (min-width: 1320px) {
    .socHr {
        width: 80%;
    }
}

@media only screen and (max-width: 1320px) {
    p {
        font-size: 16px;
    }

    h1 { font-size: 22px; }
    h2 { font-size: 20px; }
    h3 { font-size: 18px }

    .socHr {
        width: 80%;
    }
}

@media only screen and (max-width: 1300px) {
    .socHr {
        width: 80%;
    }

    iframe {
        max-width: 100%;
        width: 220px;
        height: 115px;
    }
}

@media only screen and (max-width: 1190px) {
    .socHr {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    p {
        font-size: 14px;
    }

    h1 { font-size: 20px; }
    h2 { font-size: 18px; }
    h3 { font-size: 16px }

    .socHr {
        width: 80%;
    }

    iframe {
        max-width: 100%;
        width: 200px;
        height: 95px;
    }
}

@media only screen and (max-width: 900px) {
    p {
      font-size: 13px
    }

    h1 { font-size: 19px; }
    h2 { font-size: 17px; }
    h3 { font-size: 15px }

    .socHr {
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .socHr {
        width: 80%;
    }

    img {
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    p {
      font-size: 9px
    }

    h1 { font-size: 15px; }
    h2 { font-size: 13px; }
    h3 { font-size: 11px }
    
    .description {
        font-size: 10px;
    }

    .socHr {
        width: 80%;
    }
}

@media only screen and (max-width: 360px) {
    iframe {
        max-width: 100%;
        width: 135.5px;
        height: 79.25px;
    }
}

@media only screen and (max-width: 300px) {
    iframe {
        max-width: 100%;
        width: 105.5px;
        height: 59.25px;
    }

    .socials button {
        color: white;
        font-size: 9px;
        border-radius: 8px;
        padding: 5px 5px;
    }
}